.characters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.characters-gallery {
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 600px) {
    width: 25vw;
  }
}

.characters-display {
  padding-top: 10px;
  width: 45vw;

  @media screen and (max-width: 600px) {
    width: 70vw;
  }
}