.characters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.characters-gallery {
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
}

.characters-display {
  padding-top: 10px;
  width: 45vw;
}