@font-face {
  font-family: "Gothic";
  font-display: block;
  src: url("../../../public/fonts/gothic.otf") format("opentype");
}

@font-face {
  font-family: "Aurek";
  font-display: block;
  src: url("../../../public/fonts/aurek.ttf");
}

@font-face {
  font-family: "Futura";
  font-display: block;
  src: url("../../../public/fonts/futura.ttf");
}

@font-face {
  font-family: "LongTime";
  font-display: block;
  src: url("../../../public/fonts/longtime.ttf");
}

@font-face {
  font-family: "Crawl";
  font-display: block;
  src: url("../../../public/fonts/crawl.ttf");
}
