@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

.stars {
  background: #000 url("../../../public/images/stars.png") repeat top center;
}

.twinkling {
  background: transparent url("../../../public/images/twinkling.png") repeat top
    center;
  animation: move-twink-back 200s linear infinite;
}
