.planets {
  display: flex;
  justify-content: center;
  padding: 40px;

  .planets-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;

    figure {
      transition: all 0.2s ease-in-out;
      text-align: center;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
      .image-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        padding: 10px;
      }
      img {
        object-fit: contain;
        object-position:initial;
        width: 100%;
        transform: scale(1.3);
       
      }
    }
  }
}
