.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
.bm-burger-bars {
  background: #373a47;
  transition: 1s;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #373a47;
  background-image: url("../../../public/images/menu.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  font-family: "Aurek";
}

.bm-morph-shape {
  fill: #373a47;
}
.bm-item-list {
  color: #b8b7ad;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.item-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  gap: 60px;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    width: 30%;
    filter: invert(100%);
  }
}
