.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding-block: 15px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.logo {
  margin-left: 20px;
  cursor: pointer;
  img {
    width: 90px;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
  margin-top: 10px;
  font-family: "Aurek";

  a {
    color: var(--border-color);
    transition: 0.5s;
    &:hover {
      color: var(--text-color);
    }
  }
}
#toggler,
.navbar label {
  display: none;
}
@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 40px;
    transform: scale(1.8);
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
}
